.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch .switch input {
    display: none;
  }
  
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .switch input:checked + .slider {
    background-color: #10f4a4;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #10f4a4;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #f4f4f4;
      min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
      display: flex;
      flex-direction: column;
  }
  
  header {
      background-color: #333;
      color: #fff;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .logo {
      display: flex;
      align-items: center;
  }
  
  .logo img {
      width: 100px;
      height: 100px;
      margin-right: 10px;
  }
  
  nav ul {
      list-style: none;
      display: flex;
      align-items: center;
  }
  
  nav a {
      text-decoration: none;
      color: #fff;
      margin-right: 20px;
  }
  
  .login-section {
      flex-grow: 1; /* Make the main section expand to fill available vertical space */
      text-align: center;
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .login-section img {
      width: 100px;
      height: 100px;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

